*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    
    height: 100vh;
    overflow: hidden;
    font-weight: bold;
    font-size: 5em;
    background-color: rgb(26, 53, 112);
    color: var(--colorGrey);
  
  }
  audio {
    opacity: 5%;
    height: 100%;
  }
  .container{
    display: flex;
    position: absolute; 
    top: 3cm;
    left: 50%;
    transform: translateX(-50%);
  }

  .if{
    width: 30vw;
    height: 30vh;
  }
  
  :root{
    --colorBack:rgb(0, 0, 0); 
    --colorPurple: rgb(47, 168, 177);
    --colorGrey: rgb(4, 10, 90);
  }

  .container span{
      animation: brilho 5s ease-in-out infinite;
  }

  .container span:nth-last-of-type(2){
    animation-delay: 0.25s ;
  }
  .container span:nth-last-of-type(3){
    animation-delay: 0.50s ;
  }
 
  .container span:nth-last-of-type(4){
    animation-delay: 0.75s ;
  }
 
  .container span:nth-last-of-type(5){
    animation-delay: 1s ;
  }
 
  .container span:nth-last-of-type(6){
    animation-delay: 1.25s ;
  }
 
  .container span:nth-last-of-type(7){
    animation-delay: 1.50s ;
  }
 
  .container span:nth-last-of-type(8){
    animation-delay: 1.75s ;
  }
 
  .container span:nth-last-of-type(9){
    animation-delay: 2s ;
  }
 
  .container span:nth-last-of-type(10){
    animation-delay: 2.25s ;
  }
 
  .container span:nth-last-of-type(11){
    animation-delay: 2.50s ;
  }
 
  @keyframes brilho{
    0%{
      color: #fff;
      text-shadow: 0 0 12px var(--colorPurple),
       0 0 50px var(--colorPurple),
       0 0 100px var(--colorPurple);

    }
    10%, 90%{
      color: var(--colorGrey);
      text-shadow: none;
    }

  }

  #snow{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}
#snow span{
    min-width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    box-shadow: -100px 20px 5px #fff,
    -100px 20px 10px #fff;
    margin: 0 1vw;
    animation: animateSnow calc(75s / var(--i)) linear infinite;

}

@keyframes animateSnow{
    0% {
        transform: translateY(-10vh);
    }

    100% {
        transform: translateY(100vh);
    }
}


  
  .tree {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tree-layerone {
    position: absolute;
    width: 0;
    height: 0;
    left: 3px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid #2e9e57;
  }
  .tree-layerone::after {
    content: '';
    border-bottom: 1px solid #fafafa;
  }
  .tree-layertwo {
    position: absolute;
    top: 30px;
    left: -10px;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 120px solid #2e9e57;
  }
  .tree-layerthree {
    position: absolute;
    top: 50px;
    left: -25px;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 170px solid #2e9e57;
  }
  .tree-layerfour {
    position: absolute;
    top: 80px;
    left: -36px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #2e9e57;
  }
  .presents {
    z-index: 1;
    position: absolute;
    top: 265px;
    left: -43px;
    width: 60px;
    height: 45px;
    background: #f45b69;
  }
  .cover {
    position: absolute;
    left: -3px;
    width: 66px;
    height: 10px;
    background: #f45b69;
    border-bottom: 1px solid #aaa;
  }
  .tree-wrapper,
  .tree-layers {
    position: relative;
    height: 100%;
  }
  .wrapper {
    position: absolute;
    left: 28px;
    background: #e4b425;
    width: 8px;
    height: 45px;
  }
  .ribbon {
    position: absolute;
    top: -30px;
    left: 10px;
    background: transparent;
    width: 12px;
    height: 25px;
    border-radius: 0 80% 20% 80%;
    border: 3px solid #c359a2;
    transform: rotate(-10deg);
  }
  .ribbon:after {
    position: absolute;
    top: 0;
    left: 20px;
    background: transparent;
    width: 12px;
    height: 25px;
    border-radius: 0 80% 20% 80%;
    border: 3px solid #c359a2;
    transform: rotate(60deg);
    content: '';
  }
  .tree-layerfour:after {
    content: '';
    width: 20px;
    height: 30px;
    background: #84714f;
    position: absolute;
    top: 200px;
    left: -8px;
  }
  .bubble {
    z-index: 1;
    position: absolute;
    border-radius: 100%;
    animation: blinker 1s infinite linear;
    opacity: 1;
  }
  .bubble.one {
    top: 65px;
    left: -9px;
    width: 13px;
    height: 13px;
    background: #9b0669;
  }
  
  .bubble.two {
    left: -30px;
    top: 85px;
    width: 13px;
    height: 13px;
    background: #2c0bbe;
  }
  
  .bubble.three {
    top: 105px;
    width: 13px;
    right: -30px;
    height: 13px;
    background: #58088d;
  }
  .bubble.four {
    top: 145px;
    left: 30px;
    width: 13px;
    height: 13px;
    background: #990101;
  }
  .bubble.five {
    top: 153px;
    left: -36px;
    width: 13px;
    height: 13px;
    background: #056b16;
  }
  .star {
    z-index: 1;
    position: absolute;
    left: -36px;
    top: -40px;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ffe066;
    border-left: 100px solid transparent;
    transform: rotate(35deg) scale(0.2);
  }
  .star::before {
    border-bottom: 80px solid #ffe066;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star::after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ffe066;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }
  .line {
    z-index: 1;
    position: absolute;
  }
  .line-one {
    top: 60px;
    left: -47px;
    width: 70px;
    height: 0;
    border: 1px solid #03c300;
    transform: rotate(-60deg);
  }
  .line-two {
    top: 100px;
    left: -18px;
    width: 70px;
    height: 0;
    border: 1px solid #03c300;
    transform: rotate(-120deg);
  }
  .line-three {
    top: 140px;
    left: -68px;
    width: 70px;
    height: 0;
    border: 1px solid #03c300;
    transform: rotate(-60deg);
  }
  .line-four {
    top: 146px;
    left: -13px;
    width: 70px;
    height: 0;
    border: 1px solid #03c300;
    transform: rotate(60deg);
  }
  
  @keyframes blinker {
    0% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  .imagem{
    animation: example 10s infinite;
    position: absolute;
  }
  @keyframes example{
    0%{
      left: 5%; 
      top: 30%;
    }
    25%{
      left: 30% 
    }
    50%{
      left: 50%;

    }
    100%{
      left: 5%; 
      top: 30%;  
    }
  }
