*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    background-color: rgb(110, 9, 9);
    width: 100vw;
    height: 100vh;
}
#logoif{
    z-index: 2; 
    text-align: center;
    border: 0px solid;
    padding: 140px;
    

}
#papainoel{
    position:absolute;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    animation: girarele 5s linear infinite;
    z-index: 3;
}
@keyframes girarele {
    from{transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
    
}
#snow{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}
#snow span{
    min-width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    box-shadow: -100px 20px 5px #fff,
    -100px 20px 10px #fff;
    margin: 0 1vw;
    animation: animateSnow calc(75s / var(--i)) linear infinite;

}

@keyframes animateSnow{
    0% {
        transform: translateY(-10vh);
    }

    100% {
        transform: translateY(100vh);
    }
}


  


   
